        /* Basic Design  */
*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

        /* Menu Section Design  */


nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight:500;
}
a:hover{
    color: rgb(240, 112, 21);

}

button{
    margin-left: 800px;
    background-color: rgb(240, 112, 21);
    font-weight: 600;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}
button:hover {
    background-color: rgb(0, 166, 249);
    transform: scale(1.2);
}
.banner{
    padding: 50px 200px;
    display: flex;
    justify-content: space-evenly;
}
.banner h6{
    font-weight: 700;
    font-size: 26pt;
}
.banner p{
    padding-top: 8px;
    font-weight: 400px;
}
.banner h1{
    padding-top: 90px;
    font-size: 57px;
    font-weight: 400;
}
header{
    background-image: url("/images/bg.svg");
    background-repeat: no-repeat;
    background-size:1050px;
    background-position: right;
}
.icons{
        padding: 50px 200px;
        display: flex;
        gap: 20px;
}
